img {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #233;
  text-align: center;

}

ul {
  list-style-type: disc;
  padding: 0;
  padding-left: 20px;
  text-align: center;
  display: inline-block;

}

ol {
  list-style-type: decimal;
  padding: 0;
  padding-left: 20px;
  text-align: center;
  display: inline-block;

}

h1,
h2 {
  text-align: center;
  color: #da2c0ed7;
  text-shadow: rgb(67, 13, 160) 1px 3px 5px;
}

input[type="text"],
textarea {
  width: auto;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 100px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}


a {
  color: #007bff;
  text-shadow: #007bff 1px 1px 3px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 50px 0;
}


p {
  text-align: center;
}

.recipe-image {
  display: block;
  width: 200px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}